{% extends 'base_account.html' %}
{% load crispy_forms_tags %}

{% block title %}重设密码{% endblock %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">重设密码</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">重设密码</button>
            </div>
        </form>
    </div>
{% endblock content %}
